.App {
  background-color: aliceblue;
}

.navBar {
  display: flex;
  flex-direction: row;
  background-color:beige;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(175, 175, 175);
  align-items: center;
  min-height: 40px;
  padding-left:570px;
  font-size: x-large;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.all-menu-items {
  display:inline-flex;
  width: 100%;
}

.card {
  background-color:rgb(232, 227, 178);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(211, 211, 211);
  border-radius: 10px;
  width: 220px;
  height: 500px;
  margin: 30px;
  margin-top: 60px;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  margin: 10px;
}

.card-footer {
  height: 70px;
  display: inline-block;
}

.btn {
  size: 50px;
  background-color: cornflowerblue;
  color: white;
  margin-left: 20px;
  border-radius: 3px;
  border-width: 0px;
  align-content: center;
  display: inline-block;
  padding: 7px 15px;
}


.card-quantity{
  margin-left: 10px;
}


.cart-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 70px;
}

.cart-num {
  background-color: grey;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

