.App {
  background-color: aliceblue;
}

.navBar {
  display: flex;
  flex-direction: row;
  background-color: lightblue;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(175, 175, 175);
  align-items: center;
  min-height: 40px;
  padding-left:570px;
  font-size: x-large;
  font-weight: 700;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.all-menu-items {
  display:inline-flex;
  width: 100%;
  background-color: antiquewhite;
}

/*koristim za ikonicu u navBaru*/
.contact{
  margin-left:70px;
}

/*koristim za ikonicu i kolicinu u navBaru*/
.cart-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left:70px;
}

.card {
  background-color: lightblue;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(211, 211, 211);
  border-radius: 10px;
  width: 220px;
  height: 500px;
  margin: 30px;
  margin-top: 35px;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  margin: 10px;
}

.card-footer {
  height: 70px;
  display: inline-block;
}

.btn {
  size: 50px;
  background-color: cornflowerblue;
  color: white;
  margin-left: 20px;
  border-radius: 3px;
  border-width: 0px;
  align-content: center;
  display: inline-block;
  padding: 7px 15px;
}


.card-quantity{
  margin-left: 10px;
}


.card-img-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-cart {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(211, 211, 211);
  border-radius: 10px;
  max-width: 500px;
  max-height: 190px;
  background-color: lightblue;
  margin-bottom: 30px;
}


.cart-num {
  background-color: grey;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
}

.cart-container {
  background-color: antiquewhite;
  height: 600px;
}
.cart-item{
  margin-left: 40px;
  margin-bottom: 20px;
}

.cart-item-main{
  font-size: 30px;
  font-weight: 700;
  color:black;
  margin-left: 930px;
}

.cart-item-text{
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-left: 40px;
}


a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.restaurant{
background-color: antiquewhite;
height: 600px;
display: flex;
flex-direction: row;
}

.restaurant-item{
  margin-left: 30px;
  width: 50%;
  text-align:justify;
}

.restaurant-form{
  width: 50%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

input[type=text], [type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: large;
}

button[type=submit]:hover {
  background-color: #45a049;
}

textarea[type=message]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}